body{
    background-color: rgb(82, 82, 83);
}
.container h1{
    color: rgb(247, 60, 13);
    font-size: 50px;
    
}
.container {
    background-color: #6dd6ff;
    padding-left: 50px;
    height:100%;
    margin-left: 350px;
    margin-right: 350px;
    margin-top:50px; 
    border-radius: 25px;

}
.container input{
    height: 10%;
    width: 30%;
    font-size:25px;

}
.container button{
    background-color: #e0f807;
    width: 100px;
    height: 50px;
}
